/*Snake CSS*/
body{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.canvas{
    border-style: dashed;
}

@media screen and (max-width: 400px){
    .title{
        font-size: 4rem;
    }
}